body {
    font-family: "Roboto", sans-serif;
    background-color: var(--bg-white);
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.box { /* Task 1:create a box with different border widths and colors */
    width: 500px;
    height: 200px;
    border-width: 15px; /* Change this value */
    border-style: double;
    border-color: black; /* Change color */
    background-color: #FFF5EE;
    padding: 60px; /* Task 2: Add padding */
    margin: 10px; /* Task 3: Adjust margin to space elements properly */
    box-sizing: border-box; /* Task 4: Add box sizing to all elements */
}

.card { /* Task 5: Create a card-like component with padding margin and a border */
    
    background: linear-gradient(to right, #e8e8e8 0%, #f0f0f0 100%);
    padding: var(--spacing-4);
    border-left: 8px solid #BEBEBE;
    border-radius: 15px;
    cursor: pointer;
    width: 300px;
    margin: 10px;
}

.card:hover {
  background-color: #e7e7e7;
  color: Black;
}


:root {
    --border: #A9A9A9;
    --card: #000;
    --spacing-2: 8px;
    --spacing-4: 16px;
    --name-black-60: rgba(0, 0, 0, .6);
    --spacing-6: 24px;
    --white-background-60: hsla(0, 0%, 100%, .6)
    --bg-white: #FFFFFF;
}

*,:after,:before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb
}

.order-number {
align-items: center;
display: flex;
margin-bottom: (var(--spacing-2));
border-color: hsl(var(--border));
width: 172.438px;
}

.number {
font-size: 30px;
letter-spacing: -.01em;
line-height: 32px;
font-weight: 700;
margin: 0;
padding-top: 10px;
}

h2 {
display: block;
margin-block-start;
margin-block-end;
margin-inline-start;
margin-inline-end;
}


.name {
font-size: 18px;
color: var(--name-black-60);
letter-spacing: -.01em;
line-height: 24px;
font-weight: 400;
display: flex;
margin-bottom: var(--spacing-6);
border-color: hsl(var(--border));
}

.service {
font-size: 16px;
--tw-text-opacity: 1;
color: rgb(0 0 0 / var(--tw-text-opacity, 1))
letter-spacing: -.01em;
line-height: 24px;
font-weight: 400;
display: flex;
text-align: center;
}

.time {
font-size: 18px;
color: var(--name-black-60);
letter-spacing: -.01em;
line-height: 24px;
font-weight: 400;
gap: var(--spacing-2);
justify-content: space-between;
align-items: flex-end;
display: flex;

}

.first-heading {
    
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



